<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-searchbar animated></ion-searchbar>
  </div>
  <ion-card>
    <ion-card-header>
      "Mediocrity's easy. Good things take time. The great need commitment!"
    </ion-card-header>
    <ion-card-content>
      <p>-Marquise Hewing</p>
    </ion-card-content>
    <ion-toggle checked>Right!</ion-toggle>
    <ion-button (click)="catpower()">Ok</ion-button>
    </ion-card>

  <ion-item>
  <ion-icon name="twitter" item-start></ion-icon>
  </ion-item>  
      

</ion-content>
